body {
  background-color: #F9EFDB;
  font-family: monospace;
  text-align: center;
  color: #333333;
  box-sizing: border-box;
}

.title {
  font-weight: bold;
}

.recipe-list {
  background-color: #9DBC98;
  border: 4px dotted #638889;
  padding: 12px;
  width: 500px;
  height: auto;
  margin: 0px auto;

}

.ul-no-bullet {
  border: 4px solid #638889;
  width: auto;
  padding: 8px;
  margin: 0px 5px;
  display: block;
  list-style: none;
}

a {
  color: #333333;
  font-size: larger;
}

.ingredients {
  font-size: larger;
  background-color: #9DBC98;
}

.pic-desc {
  background-color: #EBD9B4;
}

.footnote {
  font-size: smaller;
}


.steps {
  background-color: #638889;
  color: #222222;
}